 <div class="itemPhim__content">
    <div class="itemPhim__img">
        <img [src]="phim.HinhAnh" alt="">
        <div class="itemPhim__rating">
            <span>5</span>
            <img src="./assets/img/icon/star1.png" alt="">
        </div>
        <div class="itemPhim__cover"></div>
        <div class="itemPhim__play">
            <i class="fa fa-play-circle"></i>
        </div>
    </div>
    <div class="itemPhim__info">
        <p>{{phim.TenPhim}}</p>
        <span>150 phút - C18</span>
        <div class="itemPhim__button">
            <button class="btn">MUA VÉ</button>
        </div>
    </div>
</div>
