@import "./../../_scss/variables.scss";
@import "./../../_scss/mixin.scss";

.itemPhim__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .itemPhim__img {
    max-width: 250px;
    flex: 1 1 auto;
    border: 1px solid blue;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .itemPhim__rating {
      border-radius: 3px;
      background-color: $color-black-2;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 5%;
      top: 3%;
      @include space(padding, all, $x-small);
      span {
        @include text($color-white-0, $fs-0-75, $fw-b);
        @include space(margin, right, $x-small);
        @include screen(medium) {
          @include text($color-white-0, $fs-1-25, $fw-b);
          @include space(margin, right, $small);
        }
      }
      img {
        width: 40%;
      }
    }
    .itemPhim__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, transparent, $color-black-3);
      display: none;
      transition: 1s;
    }
    .itemPhim__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      i {
        @include text($color-white-0, $fs-lg, $fw-3);
        @include screen(medium) {
          @include text($color-white-0, $fs-xl, $fw-3);
        }
        &:hover {
          color: $color-grey-3;
        }
      }
    }
  }
  .itemPhim__info {
    display: none;
    height: 60px;
    width: 100%;
    border-radius: $br-0;
    position: relative;
    @include space(margin, top, 5%);

    @include screen(medium) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    p {
      @include space(margin, bottom, 2%);
      font-size: $fs-md;
      font-weight: $fw-5;
      line-height: $lh-1-25;
    }
    span {
      font-size: $fs-0-75;
    }
    .itemPhim__button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: none;
      button {
        width: 100%;
        height: 100%;
        border: unset;
        background-image: linear-gradient(to right, $color-red-1, $color-primary);
        @include text($color-white-0, $fs-1-10, $fw-5);
      }
      &:hover button {
        animation: hoverButton 0.2s ease-in-out;
      }
    }
  }

  &:hover {
    .itemPhim__img {
      .itemPhim__cover {
        
        display: block;
      }
      .itemPhim__play {
        @include screen(medium) {
          display: block;
        }
      }
    }
    .itemPhim__info {
      p, span {
        display: none;
      }
      .itemPhim__button {
        display: block;
      }
    }
  }
}

@keyframes hoverButton {
  0% {
    background-image: linear-gradient(to right, $color-red-1, $color-primary); 
    // width: 100%;
  }
  50% {
    background-image: unset;
    background-color: white;
  }
  100% {
    background-image: linear-gradient(to right, $color-red-1, $color-primary);
  }
}
