<!-- Nav tabs -->
<div id="listPhim">
  <div class="listPhim__container">
    <div class="listPhim__title">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#phimDangChieu">ĐANG
            CHIẾU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#phimSapChieu">SẮP CHIẾU</a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="listPhim__content">
      <div class="tab-content">
        <div class="tab-pane active" id="phimDangChieu">
          <!-- Begin Carousel Phim Dang Chieu -->
          <div id="PhimDangChieuCarousel" class="carousel slide"
            data-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor='let arr of mangCarousel; let j= index' [ngClass]="j
                == 0 ? 'carousel-item active' : 'carousel-item'">
                <div class="row row-eq-height">
                  <div *ngFor='let phim of arr' class="col-3 itemPhim">
                    <app-item-phim [phim]="phim"></app-item-phim>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#PhimDangChieuCarousel"
              data-slide="prev">
              <i class="fa fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next" href="#PhimDangChieuCarousel"
              data-slide="next">
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
          <!-- End carousel Phim Dang Chieu -->
        </div>
 
        <div class="tab-pane fade" id="phimSapChieu">
          <div>dat</div>
        </div>
      </div>
    </div>
  </div>
</div>
