<div class="itemPhim__content">
    <div class="itemPhim__img">
        <img [src]="phim.hinhAnh" alt="">
        <div class="itemPhim__rating">
            <span>5</span>
            <img src="./assets/img/icon/star1.png" alt="">
        </div>
        <div class="itemPhim__cover" (click)="xemChiTietPhim()">
        </div>

        <button type="button" class="playVideo" data-toggle="modal" data-target="#modalTrailer" (click)="xemTrailer(phim)">
            <img src="./../../../assets/img/icon/play-video.png" alt="">
        </button>

    </div>
    <div class="itemPhim__info">
        <p>{{phim.tenPhim}}</p>
        <span>150 phút - C18</span>
        <div class="itemPhim__button" (click)="xemChiTietPhim()">
            <button class="btn">MUA VÉ</button>
        </div>
    </div>
</div>