@import "./../../../assets/sass/variables.scss";
@import "./../../../assets/sass/mixin.scss";
.modal {
    padding: 0 !important;
    .modal-dialog {
        max-width: 560px;
        margin: $large auto;
        .modal-content {
            background-color: transparent;
            border: unset;
            .modal-body {
                @include space(padding, all, 0);
            }
        }
    }
}