<!-- The Modal -->
<div class="modal" id="modalTrailer" (click)='stopTrailer()'>
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <ng-container *ngIf='status'>
                    <iframe width="560" height="315" [src]="trailerLink | youtube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
          picture-in-picture" allowfullscreen></iframe>
                </ng-container>
            </div>
        </div>
    </div>
</div>