@import "./../../_scss/variables.scss";
@import "./../../_scss/mixin.scss";

.modal {
    padding: 0 !important;
  .modal-dialog {
      max-width: 560px;
      margin: $large auto;
    .modal-content {
        background-color: transparent;
        .modal-body {
            @include space(padding, all, 0);
        }
    }
  }
}
