<!-- Menu -->
<div class="home-menu">
    <nav class="navbar navbar-expand-md">
        <!-- logo -->
        <div class="menu__image">
            <a routerLink="">
                <img src="./../../assets/img/icon/web-logo.png" alt="logo">
            </a>
        </div>
        <!-- button -->
        <button class="navbar-toggler menu__button" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class="fa fa-bars"></i>
        </button>
        <!-- menu -->
        <div class="collapse navbar-collapse menu__navbar" id="collapsibleNavbar">
            <ul class="navbar-nav navbar__left">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/phim">Lịch chiếu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/phim">Cụm rạp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/phim">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/phim">Ứng dụng</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar__right">
                <li class="nav-item nav__dang-nhap">
                    <a class="nav-link" routerLink="/phim">Đăng nhập</a>
                </li>
                <li class="nav-item nav__thanh-pho">
                    <div class="btn-group" dropdown>
                        <a id="basic-link" dropdownToggle (click)='showHideMenuDropdown()' aria-controls="basic-link-dropdown">
                            Thành phố
                            <span *ngIf='statusDropdown; else arrowDown'>
                                <fa name='angle-up' size='lg' class="ml-2"></fa>
                            </span>
                            <ng-template #arrowDown>
                                <fa name='angle-down' size='lg' class="ml-2"></fa>
                            </ng-template>
                        </a>
                        <ul id="dropdown-split" *ngIf="statusDropdown" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-split">
                            <li role="menuitem">
                                <a class="dropdown-item" href="#">Hồ Chí Minh</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Đà Nẵng</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Hà Nội</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Cần Thơ</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" href="#">Huế</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Hội An</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Quảng Bình</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Quảng Ninh</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<div class="home-footer">
    <div class="footer__container">
        <div class="footer__thongtin">
            <div class="row">
                <div class="col-lg-2 thongtin thongtin--1">
                    <p>123 PHIM</p>
                    <a href="#" class="footer__link__text">FAQ</a>
                    <a href="#" class="footer__link__text">BRAND GUIDELINES</a>
                </div>
                <div class="col-12 col-md-4 col-lg-2 thongtin thongtin--2">
                    <p> &nbsp;</p>
                    <a href="#" class="footer__link__text">Thỏa thuận sử dụng</a>
                    <a href="#" class="footer__link__text">Quy chế hoạt động</a>
                    <a href="#" class="footer__link__text">Chính sách bảo mật</a>
                    <a href="#" class="footer__link__text">Quyền lợi thành viên</a>
                </div>
                <div class="col-lg-4 thongtin thongtin--3">
                    <p>ĐỐI TÁC</p>
                    <ng-container *ngFor='let item of danhSachDoiTac; let stt = index'>
                        <br *ngIf='stt % 5 == 0 && stt > 0' />
                        <a [href]="item.link" class="footer__link__icon">
                            <img [src]="item.img" alt="">
                        </a>
                    </ng-container>
                </div>
                <div class="col-12 col-md-4 col-lg-2 text-center thongtin thongtin--4">
                    <p>MOBILE APPS</p>
                    <a href="#" class="footer__link__icon">
                        <img src="./../../assets/img/icon/apple-logo.png" alt="">
                    </a>
                    <a href="#" class="footer__link__icon">
                        <img src="./../../assets/img/icon/android-logo.png" alt="">
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-2 text-center thongtin thongtin--5">
                    <p>SOCIAL</p>
                    <a href="#" class="footer__link__icon">
                        <img src="./../../assets/img/icon/facebook-logo.png">
                    </a>
                    <a href="#" class="footer__link__icon">
                        <img src="./../../assets/img/icon/zalo-logo.png">
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="footer__congty">
            <div class="row mx-0">
                <div class="col-12 col-md-1 px-0 logo__vinagame">
                    <img src="./../../assets/img/icon/vng-icon.png" alt="">
                </div>
                <div class="col-12 col-md-9 px-0 thongtinCongty">
                    <p>123PHIM – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION – MỘT THÀNH VIÊN CỦA CÔNG TY CỔ PHẦN VNG</p>
                    <p>Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Thành phố Hồ Chí Minh</p>
                    <p>Mã số thuế: 0101659783</p>
                </div>
                <div class="col-12 col-md-2 px-0 logo__bocongthuong">
                    <img src="./../../assets/img/icon/bo-cong-thuong.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>