@import "./../../../assets/sass/variables.scss";
@import "./../../../assets/sass/mixin.scss";
#listPhim {
    .listPhim__container {
        width: $w-xs;
        margin: 0 auto;
        @include space(padding, all, $small);
        @include screen(medium) {
            width: $w-md;
            @include space(padding, all, $medium);
        }
        @include screen(large) {
            width: $w-lg;
            @include space(padding, all, $large);
        }
        @include screen(x-large) {
            width: $w-xl;
        }
        .listPhim__title {
            .nav-tabs {
                display: flex;
                justify-content: center;
                border: unset;
                @include space(padding, all, $medium);
                .nav-item {
                    .nav-link {
                        @include text($color-black-0, $fs-1-25, $fw-5);
                        transition: 0.3s ease-out;
                        border: unset;
                        &:hover,
                        &.active {
                            @include text($color-primary, $fs-1-35, $fw-5);
                        }
                    }
                }
            }
        }
        .listPhim__content {
            #phimDangChieu,
            #phimSapChieu {
                .carousel-inner {
                    .row {
                        width: $w-md;
                        @include screen(medium) {
                            width: $w-lg;
                        }
                        margin: 0 auto;
                        .itemPhim {
                            @include space(padding, x, $small);
                            @include space(margin, bottom, 0);
                        }
                    }
                }
                .carousel-control-prev,
                .carousel-control-next {
                    width: 5%;
                    i {
                        color: $color-grey-1;
                        &:hover {
                            color: $color-black-1;
                        }
                        &:active {
                            color: $color-primary;
                        }
                        font-size: $fs-lg;
                        @include screen(medium) {
                            font-size: $fs-xl;
                        }
                    }
                }
            }
        }
    }
}