<div class="item-rap-mobile">
    <div class='rap'>
        <a data-toggle="collapse" data-target="#HeThongRap1">
            <img src="./../../../assets/img/icon/bhd.png" alt="">
            <p>BHD</p>
        </a>
    </div>
    <div id="HeThongRap1" class="collapse show chiTietRap">
        <div class="listSuatChieu">
            <div>
                <div class="listSuatChieu-container" data-toggle="collapse" data-target="#ListGioChieu1">
                    <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-vincom-3-2-15379527367766.jpg" alt="">
                    <div>
                        <p class='tenRap'>
                            <span>BHD Star Cineplex</span> - 3/2
                        </p>
                        <p class='diaChiRap'>
                            L5-Vincom 3/2, 3C Đường 3/2, Q.10
                            <span>[Bản đồ]</span>
                        </p>
                    </div>
                </div>
                <div class="collapse show" id='ListGioChieu1'>
                    <div class='listGioChieu'>
                        <img src="./../../../assets/img/icon/2_0.png" alt="">
                        <div>
                            <a>13:00</a><a>13:00</a><a>13:00</a><a>13:00</a><a>13:00</a><a>13:00</a><a>13:00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>