@import './../../../assets/sass/variables.scss';
@import './../../../assets/sass/mixin.scss';
.item-rap-mobile {
    list-style: none;
    margin: 0;
    padding: 0;
    @include screen(medium) {
        display: none;
    }
    .rap {
        padding: 20px;
        position: relative;
        a {
            display: block;
            text-decoration: none;
            color: #000;
            cursor: pointer;
            img {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
            p {
                display: inline-block;
                font-weight: 600;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: calc(100% - 40px);
                transform: translateX(-50%);
                border-bottom: 1px solid #ccc;
                border-color: rgba(238, 238, 238, .88);
            }
        }
    }
    .chiTietRap {
        .listSuatChieu {
            padding: 20px;
            .listSuatChieu-container {
                display: flex;
                padding-bottom: 20px;
                img {
                    width: 50px;
                    height: 50px;
                }
                div {
                    padding-left: 10px;
                    height: 50px;
                    p {
                        margin: 0;
                    }
                    .tenRap {
                        span {
                            color: $color-green-4;
                        }
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .diaChiRap {
                        font-size: 13px;
                        color: $color-grey-1;
                        line-height: 1.7;
                        span {
                            color: $color-primary;
                            font-size: 12px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .listGioChieu {
            display: flex;
            padding-left: 10px;
            img {
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
            div {
                a {
                    float: left;
                    font-size: 18px;
                    font-weight: 500;
                    color: #417500;
                    margin-right: 10px;
                }
            }
        }
    }
}

.item-rap-desktop {}