<div class="rap-mobile">
    <div class="thong-tin-rap" data-toggle="collapse" [attr.data-target]="'#'+ rap.maCumRap">
        <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-vincom-3-2-15379527367766.jpg" alt="">
        <div>
            <p class='tenRap'>{{rap.tenCumRap}}</p>
            <p class='diaChiRap'>
                {{rap.diaChi}}
                <span>[Bản đồ]</span>
            </p>
        </div>
    </div>
    <div class="collapse thong-tin-gio-chieu" [id]='rap.maCumRap'>
        <div class='list-gio-chieu'>
            <img src="./../../../assets/img/icon/2_0.png" alt="">
            <div>
                <a>13:00</a><a>13:00</a><a>13:00</a>
                <a>13:00</a><a>13:00</a><a>13:00</a>
                <a>13:00</a><a>13:00</a><a>13:00</a>
            </div>
        </div>
    </div>
</div>