@import "./../../../assets/sass/variables.scss";
@import "./../../../assets/sass/mixin.scss";
#myCarousel {
    display: none;
    @include screen(medium) {
        display: block;
    }
    .carousel-indicators {
        li {
            transition: 1s ease;
            width: 15px !important;
            height: 15px !important;
            border-radius: 50%;
            background-color: $color-grey-1;
            margin: 0 5px;
            &.active {
                background-color: $color-primary;
            }
        }
    }
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
        i {
            font-size: $fs-xl;
            color: $color-grey-1;
            &:active {
                color: $color-primary;
            }
        }
    }
}

.he-thong-rap {
    max-width: 870px;
    margin: 0 auto;
}