<router-outlet></router-outlet>
<div class="phim">
    <div class="phim-container">
        <div class="phim__top">
            <!-- image background -->
            <img src="./../../../assets/img/x-men-15598808044369.jpg" alt="">

            <!-- button play trailer -->
            <button type="button" class="playVideo">
        <img src="./../../../assets/img/icon/play-video.png" alt="">
      </button>

            <!-- layout cover background: linear gradient -->
            <div class="phim__top__cover"></div>

            <!-- info show on desktop -->
            <div class="info-desktop">
                <div class="col-md-3 info-desktop-left">
                    <div class="row m-0">
                        <img src="./../../../assets/img/avatar.png" alt="">
                    </div>
                    <div class="desktop-left-hover"></div>
                    <button type="button" class="playVideo">
            <img src="./../../../assets/img/icon/play-video.png" alt="">
          </button>
                </div>
                <div class="col-md-5 info-desktop-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ngayKhoiChieu">
                                <span>28.07.2019</span>
                            </div>
                            <div>
                                <span class="tenPhim">Vương Quốc Xe Đạp - Bikes</span>
                            </div>
                            <div class="thoiLuong">
                                <span>92 phút - 2D/Digital</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn">Mua Vé</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 info-desktop-right" *ngIf='isShowRating'>
                    <circle-progress [percent]="rating" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="5" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [title]="danhGia" [titleColor]="'#9b9b9b'" [titleFontSize]="'35'"
                        [titleFontWeight]="'500'" [showSubtitle]="false" [showUnits]="false" [lazy]='false'>
                    </circle-progress>
                    <div class="numberStar row">
                        <img src="./../../../assets/img/icon/star1.png" alt="">
                        <img src="./../../../assets/img/icon/star1.png" alt="">
                        <img src="./../../../assets/img/icon/star1.png" alt="">
                        <img src="./../../../assets/img/icon/star1.2.png" alt="">
                    </div>
                    <p>180 lượt đánh giá</p>
                </div>
            </div>
        </div>

        <div class="phim__bottom">
            <div class="bottom-container">
                <div class="info-mobile">
                    <div class="row mx-0">
                        <div class="col-sm-12">
                            <div>
                                <span>28.07.2019</span>
                            </div>
                            <div>
                                <span class="tenPhim">Vương Quốc Xe Đạp - Bikes</span>
                            </div>
                            <div>
                                <span>92 phút - 2D/Digital</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#LichChieu">Lịch
              Chiếu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ThongTin">Thông Tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#DanhGia">Đánh Giá</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active nav-lich-chieu" id="LichChieu">
                        <div class="lich-chieu-container">
                            <div class="date-of-week">
                                <div class="date-item">
                                    <p class="thu">Thứ 7</p>
                                    <p class="ngay">20</p>
                                </div>
                                <div class="date-item">
                                    <p class="thu">Thứ 7</p>
                                    <p class="ngay">20</p>
                                </div>
                                <div class="date-item">
                                    <p class="thu">Thứ 7</p>
                                    <p class="ngay">20</p>
                                </div>
                                <div class="date-item">
                                    <p class="thu">Thứ 7</p>
                                    <p class="ngay">20</p>
                                </div>
                                <div class="date-item">
                                    <p class="thu">Thứ 7</p>
                                    <p class="ngay">20</p>
                                </div>
                                <div class="date-item">
                                    <p class="thu">Thứ 7</p>
                                    <p class="ngay">20</p>
                                </div>
                                <div class="date-item">
                                    <p class="thu">Thứ 7</p>
                                    <p class="ngay">20</p>
                                </div>
                            </div>
                            <div class="rap-suat-chieu row m-0">
                                <div class="he-thong-rap col-12 col-md-4" id='he-thong-rap'>
                                    <ul id='he-thong-rap-ul'>
                                        <li>
                                            <a href="#">
                                                <img src="./../../../assets/img/icon/bhd.png" alt="">
                                                <p>BHD Star Cineplex</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="./../../../assets/img/icon/bhd.png" alt="">
                                                <p>BHD Star Cineplex</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="./../../../assets/img/icon/bhd.png" alt="">
                                                <p>BHD Star Cineplex</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="suat-chieu col-12 col-md-8" id='suat-chieu'>
                                    <!-- accrordion -->
                                    <div class="panel-group" id="accordion">
                                        <!-- acc 1 -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="col-12 thong-tin-rap" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                        <img src="./../../../assets/img/icon/lottecinema.png" alt="">
                                                        <div class="wrapInfo">
                                                            <div class="headInfo">
                                                                <span>BHD Star Cineplex - Bitexco</span>
                                                            </div>
                                                            <p class="addInfo">
                                                                BHD Star Cineplex - Bitexco L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse-in">
                                                <div class="panel-body">
                                                    <div class="row m-0 list-suat-chieu">
                                                        <div class="col-1 p-0">
                                                            <img src="./../../../assets/img/icon/2_0.png" alt="">
                                                        </div>
                                                        <div class="col-11">
                                                            <div class="chi-tiet">
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- acc 2 -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="col-12 thong-tin-rap" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                        <img src="./../../../assets/img/icon/lottecinema.png" alt="">
                                                        <div class="wrapInfo">
                                                            <div class="headInfo">
                                                                <span>BHD Star Cineplex - Bitexco</span>
                                                            </div>
                                                            <p class="addInfo">
                                                                BHD Star Cineplex - Bitexco L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse-in">
                                                <div class="panel-body">
                                                    <div class="row m-0 list-suat-chieu">
                                                        <div class="col-1 p-0">
                                                            <img src="./../../../assets/img/icon/2_0.png" alt="">
                                                        </div>
                                                        <div class="col-11">
                                                            <div class="chi-tiet">
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- acc 3 -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="col-12 thong-tin-rap" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                        <img src="./../../../assets/img/icon/lottecinema.png" alt="">
                                                        <div class="wrapInfo">
                                                            <div class="headInfo">
                                                                <span>BHD Star Cineplex - Bitexco</span>
                                                            </div>
                                                            <p class="addInfo">
                                                                BHD Star Cineplex - Bitexco L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse-in">
                                                <div class="panel-body">
                                                    <div class="row m-0 list-suat-chieu">
                                                        <div class="col-1 p-0">
                                                            <img src="./../../../assets/img/icon/2_0.png" alt="">
                                                        </div>
                                                        <div class="col-11">
                                                            <div class="chi-tiet">
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- acc 4 -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="col-12 thong-tin-rap" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                        <img src="./../../../assets/img/icon/lottecinema.png" alt="">
                                                        <div class="wrapInfo">
                                                            <div class="headInfo">
                                                                <span>BHD Star Cineplex - Bitexco</span>
                                                            </div>
                                                            <p class="addInfo">
                                                                BHD Star Cineplex - Bitexco L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse-in">
                                                <div class="panel-body">
                                                    <div class="row m-0 list-suat-chieu">
                                                        <div class="col-1 p-0">
                                                            <img src="./../../../assets/img/icon/2_0.png" alt="">
                                                        </div>
                                                        <div class="col-11">
                                                            <div class="chi-tiet">
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                                <a href="#">11:30</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end accordion -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade nav-thong-tin" id="ThongTin">
                        <div class="row">
                            <div class="col-12 col-md-6 my-2 thong-tin-chung">
                                <div class="row">
                                    <div class="col-6">Ngày phát hành</div>
                                    <div class="col-6">27.07.2019</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">Đạo diễn</div>
                                    <div class="col-6">Jon Watts</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">Diễn viên</div>
                                    <div class="col-6">Cobie Smulders, Marisa Tomei, Jon Favreau, Samuel L. Jackson, Zendaya, Jake Gyllenhaal, Tom Holland
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">Quốc Gia SX</div>
                                    <div class="col-6">Mỹ</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">Ngày phát hành</div>
                                    <div class="col-6">27.07.2019</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-2 noidung">
                                <div class="row">
                                    <div class="col-12">Nội dung</div>
                                </div>
                                <div class="row">
                                    <div class="col-12">Hậu chiến Vô Cực, Người Nhện Peter Parker và nhóm bạn thân cùng tham gia chuyến du lịch châu Âu của trường. Tuy nhiên, kế hoạch siêu anh hùng nghỉ phép của Peter nhanh chóng bị hủy bỏ sau khi cậu đồng ý giúp Nick Fury
                                        khám phá bí ẩn về những cuộc tấn công của nhóm kẻ thù mang sức mạnh nguyên tố đang tàn phá khắp lục địa.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>